.container-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.categories-cards {
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
}
.categories-cards a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--background-tertiary-color);
  text-align: center;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  padding-top: 32px;
}
.categories-cards a img {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .container-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .categories-cards {
    width: 221px;
    height: 200px;
  }
  .categories-cards a {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1440px) {
  .categories-cards {
    width: 290px;
  }
}
