.main-footer {
  width: 100%;
  height: 348px;
  background-color: var(--background-tertiary-color);
  color: var(--text-secondary-color);
}
.container-footer {
  width: 312px;
  margin: 32px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  text-align: center;
}
.logo-footer {
  background: url(../img/logo-footer.png) no-repeat;
}
div p .text-footer {
  text-align: center;
}
