@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}
section {
  margin: 0 auto 88px;
}
.section-title {
  width: 290px;
  margin: 0 auto 32px;
}
.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}
.section-title hr {
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  border: none;
  margin: 16px auto 32px;
}
.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
}
.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}
.button {
  display: inline-block;
  min-width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-title {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-color);
  }
  .categories {
    margin: 0 auto;
  }
  .container-cards {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}
@media screen and (min-width: 1920px) {
}
