header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
nav {
  display: none;
  text-align: right;
}
.navigation-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
}
