header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}
.img-mobile {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.img-desktop {
  display: none;
}
nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}
.list-link {
  list-style: none;
}
.list-link li {
  color: var(--text-secondary-color);
}
li {
  margin: 16px 0;
  text-align: center;
}
.list-link a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: var(--menu-text-weight);
}
.navigation-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }
  .navigation-menu label {
    display: none;
  }
  .navigation-menu nav {
    display: block;
    position: static;
  }
  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: inline-block;
    margin-top: 8px;
  }
  .navigation-menu a:hover{
    color: var(--primary-color);
  }
}
@media screen and (min-width: 1920px) {
  header {
    padding: 38px 160px;
  }
}
