 
.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  background-color: black;
  box-sizing: border-box;
  padding: 24px 16px;
  position: static;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  text-align: center;
}

.card header {
  color: var(--text-secondary-color);
  margin-bottom: 24px;
}
.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin: 0;
}
.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}
.card header span {
  font-size: 32px;
  display: inline-block;
  margin-top: 24px;
}
.japao {
  background: url(../img/card-japao-mobile.png) no-repeat;
  background-size: cover;
}
.san-andreas {
  background: url(../img/card-san-andreas-mobile.png) no-repeat;
  background-size: cover;
}
.paraiba {
  background: url(../img/card-paraiba-mobile.png) no-repeat;
  background-size: cover;
}
.manaus {
  background: url(../img/card-manaus-mobile.png) no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 440px;
    height: 308px;
  }
}
@media screen and (min-width: 1420px) {
  .card {
    width: 588px;
  }
  .card header h3 {
    font-size: 48px;
  }
  .card header span {
    font-size: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .offers-cards {
    margin: 0 auto;
    width: 1250px;
  }
}
