.card {
  background-color: black;
  display: block;
  box-sizing: border-box;
  padding: 24px 16px;
  position: static;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  text-align: center;
}


.card header {
  color: var(--text-secondary-color);
    display: inline-block;
}
.card header p{
    font-size: 20px;
    font-weight: var(--text-weight);
    margin: 0;
}
.card header h3{
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
}
.card header span{
    font-size: 32px;
    display: inline-block;
    margin-top: 24px;
}
