.testimonial-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 312px;
    margin: 0 auto;
}
.testimonial-container article header p{
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 8px;
} 
.testimonial-container article footer{
    display: flex;
    gap: 24px;
    align-items: center;
}
.testimonial-container article footer img{
    width: 86px;
    height: 86px;
}
.testimonial-container article footer .profile-content h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
}
.testimonial-container article footer .profile-content .rating .star{
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
}
@media screen and (min-width:768px) {
    .testimonial-container{
        width: 648px;
    }
}
@media screen and (min-width:1024px) {
    .testimonial-container{
        width: 900px;
        flex-direction: row;
    }
}
@media screen and (min-width:1440px) {
    .testimonial-container{
        width: 1200px;
        flex-direction: row;
    }
}